{#<nav class="navbar navbar-expand-lg navbar-light bg-light">#}
{#    <div class="container-fluid">#}
{#        {% if is_granted('IS_AUTHENTICATED_FULLY') %}#}
{#        <li class="nav-item dropdown d-flex">#}
{#            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">#}
{#                {{ app.user.username }}#}
{#            </a>#}
{#            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">#}
{#                <li><a class="dropdown-item" href="{{ path("app_logout") }}">{% trans %}Se déconnecter{% endtrans %}</a></li>#}
{#                <li><a class="dropdown-item" href="{{ path('change_mdp') }}">Chnage le mots de passe</a></li>#}
{#            </ul>#}
{#            {% if is_granted('ROLE_ADMIN') %}#}
{#            <a class="nav-link" href="{{ path('rendez_vous_index') }}">#}
{#                List de rendez-vous#}
{#            </a>#}
{#            <a class="nav-link" href="{{ path('rendez_vous_useradd') }}">#}
{#                Ajouter un utilisateur#}
{#            </a>#}
{#            <a class="nav-link" href="{{ path('adminAddRdv') }}">#}

{#                Ajouter un rendez-vous#}
{#            </a>#}
{#            {% endif %}#}
{#            {% if is_granted('ROLE_USER') -%}#}
{#            <a class="nav-link" href="{{ path('adduserRdv') }}">#}
{#                Prendre un rendez-vous#}
{#            </a>#}
{#            <a class="nav-link" href="{{ path('mesrdv') }}">#}
{#                Mes rendez-vous#}
{#            </a>#}
{#            {% endif %}#}
{#        </li>#}
{#        {% else %}#}
{#        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">#}
{#            <span class="navbar-toggler-icon"></span>#}
{#        </button>#}
{#        <div class="collapse navbar-collapse" id="navbarSupportedContent">#}

{#            <ul class="navbar-nav ml-auto">#}
{#                <li class="nav-item">#}
{#                    <a class="nav-link active" aria-current="page" href="{{ path("app_login") }}">{% trans %}Connexion {% endtrans %}</a>#}
{#                </li>#}
{#            </ul>#}
{#            {% endif %}#}
{#        </div>#}
{#    </div>#}
{#</nav>#}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">

            <ul class="navbar-nav ms-md-auto gap-2">
                {% if is_granted('ROLE_ADMIN') %}
                    <a class="nav-link rounded" href="{{ path('locked_date_index') }}">
                        Liste des dates verrouillées
                    </a>
                    <a class="nav-link rounded" href="{{ path('rendez_vous_index') }}">
                        Liste de rendez-vous
                    </a>
                    <a class="nav-link rounded" href="{{ path('rendez_vous_useradd') }}">
                        Ajouter un utilisateur
                    </a>
                    <a class="nav-link rounded" href="{{ path('adminAddRdv') }}">

                        Ajouter un rendez-vous
                    </a>
                {% endif %}
                {% if is_granted('ROLE_USER') -%}
                    <a class="nav-link rounded" href="{{ path('adduserRdv') }}">
                        Prendre un rendez-vous
                    </a>
                    <a class="nav-link rounded" href="{{ path('mesrdv') }}">
                        Mes rendez-vous
                    </a>
                {% endif %}
                <li class="nav-item dropdown rounded">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-person-fill me-2"></i>{{ app.user.username }}</a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{{ path('change_mdp') }}">Chnage le mots de passe</a></li>
                        <li><a class="dropdown-item" href="{{ path("app_logout") }}">{% trans %}Se déconnecter{% endtrans %}</a></li>
                    </ul>
                </li>
                {% else %}
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{ path("app_login") }}">{% trans %}Connexion {% endtrans %}</a>
                        </li>
                    </ul>
                    {% endif %}
                </div>
            </ul>
        </div>
    </div>
</nav>

