{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    {% include 'page/navbar.html.twig' %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <!-- Basic login form-->
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header">
                        <h3>Connectez-vous</h3>
                    </div>
                    <div class="card-body">
                        <form method="post" class="form p-4">
                            {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}
                            <div class="form-group">
                                <label class="text-left" for="inputEmail">Adresse mail</label>
                                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" placeholder="nom-prenom@gmail.com"
                                       class="form-control fadeIn second" required autofocus>
                            </div>
                            <div class="form-group">

                                <label class="text-left" for="inputPassword">Mot de passe</label>
                                <input type="password" name="password" id="inputPassword" placeholder="**********"
                                       class="form-control fadeIn third" required>
                            </div>
                            <input type="hidden" name="_csrf_token"
                                   value="{{ csrf_token('authenticate') }}"
                            >

                            {#
                            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                            See https://symfony.com/doc/current/security/remember_me.html

                            <div class="checkbox mb-3">
                                <label>
                                    <input type="checkbox" name="_remember_me"> Remember me
                                </label>
                            </div>
                            #}
                            <div class="text-center">
                                <button class="btn btn-sm btn-primary mt-2" type="submit">
                                    {% trans %}Se connecter{% endtrans %}
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer text-center">
                        <div class="small"><a
                                    href="{{ path('app_register') }}">{% trans %}Besoin d'un compte ? S'inscrire !{% endtrans %}</a>
                        </div>
                        <div class="small"><a
                                    href="{{ path('app_forgot_password_request') }}">{% trans %}J'ai oublié mon mot de passe !{% endtrans %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
{% endblock %}
