{% extends 'base.html.twig' %}

{% block title %}RendezVous index{% endblock %}

{% block body %}
    {% include 'page/navbar.html.twig' %}
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-lg-5">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-body">
                        <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th scope="col">Email</th>
                                <th scope="col">Nom d'utilisateur</th>
                                <th scope="col">Service</th>
                                <th scope="col">Date</th>
                                <th scope="col">Heure</th>
                                <th scope="col">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for rendez_vous in rendez_vouses %}
                                <tr>
                                    <th>{{ rendez_vous.email }}</th>
                                    <td>{{ rendez_vous.username }}</td>
                                    <td>{{ rendez_vous.service }}</td>
                                    <td>{{ rendez_vous.date|date("d/m/Y") }}</td>
                                    <td>{{ rendez_vous.heure }}</td>
                                    <td>
                                        <a href="{{ path('rendez_vous_show', {'id': rendez_vous.id}) }}">show</a>
                                        <a href="{{ path('rendez_vous_edit', {'id': rendez_vous.id}) }}">edit</a>
                                    </td>
                                    <td>
                                        <a href="{{ path('rdv_admin_mailer', {'id': rendez_vous.rdv_id}) }}">Mail rappel</a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="4">no records found</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <a href="{{ path('rendez_vous_new') }}">Create new</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
