<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
</head>
<style>
    body{
        font-family: Calibri, Helvetica, sans-serif;
    }
    #rdv {
        font-family: Calibri, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    #rdv td, #rdv th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #rdv tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #rdv tr:hover {
        background-color: #ddd;
    }

    #rdv th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #2192AF;
        color: white;
    }
</style>
<body>
<h3>Les rendez-vous du: {{ selected_date|date("d/m/Y") }}</h3>

<table id="rdv">
    <thead>
    <tr>
        <th>N°</th>
        <th>Nom</th>
        <th>Service</th>
        <th>Heure</th>

    </tr>
    </thead>
    <tbody>
    {% set cpt =0 %}
    {% for rendez_vous in rendez_vouses %}
        {% set cpt= cpt+1 %}
        <tr>
            <td>{{ cpt }}</td>
            <td>{{ rendez_vous.username }}</td>
            <td>{{ rendez_vous.service }}</td>
            <td>{{ rendez_vous.heure }}</td>
        </tr>
    {% else %}
        <tr>
            <td colspan="4">Aucun enregistrement trouvé</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>
