<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
</head>
<style>
    #rdv {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    #rdv td, #rdv th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #rdv tr:nth-child(even){background-color: #f2f2f2;}

    #rdv tr:hover {background-color: #ddd;}

    #rdv th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #DAF7A6;
        color: black;
    }
</style>
<body>
Les rendez-vous du: {{ selected_date|date("d/m/Y") }}
<table id="rdv">
    <thead>
    <tr>
        <th>Email</th>
        <th>Nom</th>
        <th>Service</th>
        <th>Date</th>
        <th>Heure</th>
    </tr>
    </thead>
    <tbody>
    {% for rendez_vous in rendez_vouses %}
        <tr>
            <td>{{ rendez_vous.email }}</td>
            <td>{{ rendez_vous.username }}</td>
            <td>{{ rendez_vous.service }}</td>
            <td>{{ rendez_vous.date|date("d/m/Y") }}</td>
            <td>{{ rendez_vous.heure }}</td>
        </tr>
    {% else %}
        <tr>
            <td colspan="4">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>
